<ul class="nav nav-tabs">
  <li *ngFor="let tab of tabs" [class.active]="activeTab == tab.key"><a href="#" (click)="activeTab = tab.key">{{tab.value}}</a></li>
</ul>


<div class="container" [ngSwitch]="activeTab" style="margin-top: 10px;">
  <tab-asset-management *ngSwitchCase="'tab-asset-management'"></tab-asset-management>
  <div *ngSwitchDefault>Default</div>
</div>