<div class="row">
  
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Daily Integrity Rate by Models</div>
        <div class="panel-body">
          <calender></calender>
          <div id="chart-daily-integrity-rate-by-models" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Monthly Integrity Rate by Models</div>
        <div class="panel-body">
          <calender></calender>
          <div id="chart-monthly-integrity-rate-by-models" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
  
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Daily Integrity Rate by Single/Multiple Model(s)</div>
        <div class="panel-body">
          <calender-start-end></calender-start-end>
          <div id="chart-daily-integrity-rate-by-single-multiple-models" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Monthly Integrity Rate by Single/Multiple Model(s)</div>
        <div class="panel-body">
          <calender-start-end></calender-start-end>
          <div id="chart-monthly-integrity-rate-by-single-multiple-models" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  
  </div>