<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Yesterday Meter Reads Integrity Rate</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <ngx-gauge [type]="'full'" 
              [value]="cube.body" 
              [label]=""  
              [append]="'%'" style="margin-left: 20%;">
           </ngx-gauge>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Yesterday Meter Reads Complete Ratio</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4" *ngFor="let card of cards">
            <card
              [heading]="card.heading"
              [title]="card.title"
              [subtitle]="card.subtitle"
              [footer]="card.footer">
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Daily Meter Reads Integrity Rate</div>
      <div class="panel-body">
        <calender-start-end></calender-start-end>
        <div id="chart-daily-meter-reads-integrity-rate" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>  Monthly Meter Reads Integrity Rate</div>
      <div class="panel-body">
        <calender-start-end></calender-start-end>
        <div id="chart-monthly-meter-reads-integrity-rate" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
  </div>

</div>