<div class="panel panel-default">
  <div class="panel-heading">{{panelHeading}}</div>
  <div class="panel-body">
    <div class="panel-body-title">{{panelTitle}}</div>
    <div class="panel-body-subtitle">{{panelSubtitle}}</div>
  </div>
  <a href="#"><div class="panel-footer">{{panelFooter}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></div></a>
</div>