.panel-heading
{
    font-size: 130%;
    font-weight: bold;
}

.panel-body-title
{
    font-size: 250%;
    font-weight: bold;
    text-align: right;
}

.panel-body-subtitle
{
    font-size: 100%;
    text-align: right;
}

.panel-footer
{
    font-size: 80%;
}

a
{
    text-decoration: none;
}