<div class="panel panel-default">

  <div class="panel-heading">

    <div class="row">

      <div class="col-md-8"><h4>Device List</h4></div>

      <div class="col-md-4">
        <div class="btn-group pull-right">
            
          <div class="btn-group">
            <button type="button" class="btn glyphicon glyphicon-plus dropdown-toggle" data-toggle="dropdown">
              <span class="caret" style="margin-left: 5px;"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" data-toggle="modal" data-target="#modalAddMeter">Add Meter</a></li>
              <li><a href="#" data-toggle="modal" data-target="#modalAddMeterToCommunicator">Add Meter to Communicator</a></li>
              <li><a href="#" data-toggle="modal" data-target="#modalAddCommunicator">Add Communicator</a></li>
            </ul>
          </div>

          <button type="button" class="btn glyphicon glyphicon-trash"></button>

        </div>
      </div>
    </div>
  </div>

  <table class="table" style="min-height: 200px;">

    <tr>
      <th>Device SN</th>
      <th>Device Type</th>
      <th>Logical Name</th>
      <th>Model</th>
      <th>Communication Type</th>
    </tr>

    <tr>
      <td>541610063550</td>
      <td>Communicator</td>
      <td>SinePulse</td>
      <td>SP30177</td>
      <td>G3 PLC, LoRa</td>
    </tr>

    <tr>
      <td>541610063551</td>
      <td>Meter</td>
      <td>SinePulse</td>
      <td>SP30177</td>
      <td>G3 PLC</td>
    </tr>

    <tr>
      <td>541610063552</td>
      <td>Meter</td>
      <td>SinePulse</td>
      <td>SP30177</td>
      <td>G3 PLC</td>
    </tr>

    <tr>
      <td>541610063553</td>
      <td>Meter</td>
      <td>SinePulse</td>
      <td>SP30178</td>
      <td>LoRa</td>
    </tr>

    <tr>
      <td>541610063554</td>
      <td>Meter</td>
      <td>SinePulse</td>
      <td>SP30178</td>
      <td>LoRa</td>
    </tr>


  </table>

</div>






<div id="modalAddMeter" class="modal fade" role="dialog">
  
  <div class="modal-dialog">

    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Meter</h4>
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label for="sn">SN</label>
                <input type="text" class="form-control" id="sn" required>
              </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="reference-meter">Reference Meter</label>
              <input type="text" class="form-control" id="reference-meter" required>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<div id="modalAddMeterToCommunicator" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Meter to Communicator</h4>
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label for="sn">SN</label>
                <input type="text" class="form-control" id="sn" required>
              </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="reference-meter">Reference Meter</label>
              <input type="text" class="form-control" id="reference-meter" required>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<div id="modalAddCommunicator" class="modal fade" role="dialog">
  
    <div class="modal-dialog">
  
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Communicator</h4>
        </div>
        
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label for="sn">SN</label>
                  <input type="text" class="form-control" id="sn" required>
                </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="reference-communicator">Reference Communicator</label>
                <input type="text" class="form-control" id="reference-communicator" required>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>