<div class="row">

  <div class="col-md-12">

    <nav class="navbar navbar-default">
      
      <div class="container-fluid">
      
        <div class="col-md-1">
          <div class="navbar-header">
              <a><img src="../assets/images/sinepulse-logo.png" alt="" style="padding: 5px; width: 80px; height: auto;"></a>
            </div>
          </div>
          
          <div class="col-md-9">
            <ul class="nav navbar-nav">
              <li class="dropdown" *ngFor="let menu of menus">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{menu.title}}
                  <span class="caret" *ngIf="menu.submenus.length > 0"></span>
                </a>
                <ul class="dropdown-menu" *ngIf="menu.submenus.length > 0">
                  <li *ngFor="let submenu of menu.submenus"><a href="#">{{submenu}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        
          <div class="col-md-2">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
          
      </div>
        
    </nav>

  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <div class="container">
      <app-home></app-home>
      <!-- <app-asset-management></app-asset-management> -->
      <!-- <topology></topology> -->
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="container container-footer">
      
    </div>
  </div>
</div>

