<ul class="nav nav-tabs">
  <li *ngFor="let tab of tabs" [class.active]="activeTab == tab.value"><a href="#" (click)="activeTab = tab.value">{{tab.value}}</a></li>
</ul>


<div class="container" [ngSwitch]="activeTab">
  <app-home-overview *ngSwitchCase="'Overview'"></app-home-overview>
  <app-home-manufacturer *ngSwitchCase="'Manufacturers'"></app-home-manufacturer>
  <app-home-model *ngSwitchCase="'Models'"></app-home-model>
  <app-home-communication *ngSwitchCase="'Communications'"></app-home-communication>
  <div *ngSwitchDefault>Default</div>
</div>