<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-6">
        <div class='input-group date'>
          <span class="input-group-addon">Start</span>
          <input type='date' class="form-control" />
          <!-- <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span> -->
        </div>
        <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field> -->
      </div>

      <div class="col-md-6">
        <div class='input-group date'>
          <span class="input-group-addon">End</span>
          <input type='date' class="form-control" />
          <!-- <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span> -->
        </div>
        <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Angular forms" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> -->
      </div>

    </div>     
  </div>
</div>