<div class="row">

  <div class="col-md-12">
    <device-list></device-list> 
  </div>


</div>




<div class="row">

  <div class="col-md-12">
      <div class="col-md-12 well well-sm" style="padding: 5px; margin: 10px auto;">
        <button class="btn glyphicon glyphicon-floppy-save pull-right"></button>
      </div>
  </div>


  <div class="col-md-12">

    <!-- basic properties -->
    <div class="col-md-3">

      <div class="panel panel-default">

        <div class="panel-heading">Basic Properties</div>

        <div class="panel-body">

          <div class="form-group">
            <label for="device-sn">Device SN</label>
            <input type="text" class="form-control" id="device-sn" required>
          </div>

          <div class="form-group">
            <label for="logical-name">Logical Name</label>
            <input type="text" class="form-control" id="logical-name" required>
          </div>

          <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <select id="manufacturer" class="form-control" required>
              <option value="none">--- Please choose ---</option>
              <option value="donsun">Donsun</option>
              <option value="siemens">Siemens</option>
            </select>
          </div>

          <div class="form-group">
            <label for="model">Model</label>
            <select id="model" class="form-control" required>
              <option value="none">--- Please choose ---</option>
              <option value="b23">B23</option>
              <option value="b24">B24</option>
            </select>
          </div>

          <div class="form-group">
            <label for="firmware-version">Firmware Version</label>
            <input type="text" class="form-control" id="firmware-version" required>
          </div>

        </div>

      </div>

    </div>


    <!-- communication properties -->
    <div class="col-md-3">

      <div class="panel panel-default">

        <div class="panel-heading">Communication Properties</div>

        <div class="panel-body">

          <div class="form-group">
            <label for="communication-type">Communication Type</label>
            <select id="communication-type" class="form-control" required>
              <option value="none">--- Please choose ---</option>
              <option value="modbus">Modbus</option>
              <option value="gprs">GPRS</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ip">IP</label>
            <input type="text" class="form-control" id="ip" required>
          </div>

          <div class="form-group">
            <label for="port">Port</label>
            <input type="text" class="form-control" id="port" required>
          </div>

          <div class="form-group">
            <label for="authentication-type">Authentication Type</label>
            <select id="authentication-type" class="form-control" required>
              <option value="none">--- Please choose ---</option>
              <option value="SSH">SSH</option>
              <option value="multi-factor">Multi-Factor</option>
            </select>
          </div>

          <div class="form-group">
            <label for="lls-password">LLS Password</label>
            <input type="text" class="form-control" id="lls-password" required>
          </div>

        </div>

      </div>

    </div>

    <!-- group properties -->
    <div class="col-md-3">

      <div class="panel panel-default">

        <div class="panel-heading">Group Properties</div>

        <div class="panel-body">

          <div class="form-group">
            <label for="measurement-group">Measurement Group</label>
            <select id="measurement-group" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="collection-scheme-group">Collection Scheme Group</label>
            <select id="collection-scheme-group" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="tou">TOU</label>
            <select id="tou" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="limiter">Limiter</label>
            <select id="limiter" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="step-tariff">Step Tariff</label>
            <select id="step-tariff" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

        </div>

      </div>

    </div>



    <!-- other -->
    <div class="col-md-3">

      <div class="panel panel-default">

        <div class="panel-heading">Other</div>

        <div class="panel-body">

          <div class="form-group">
            <label for="channel">Channel</label>
            <select id="channel" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="schedule">Schedule</label>
            <select id="schedule" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="organization">Organization</label>
            <select id="organization" class="form-control" required>
              <option value="none">--- Please choose ---</option>
            </select>
          </div>

        </div>

      </div>

    </div>


  </div>


</div>