<div class="panel panel-default">

  <div class="panel-heading">
    Topology
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-lg-12">
        <form action="">

          <div class="form-group">
            <label for="communicator">Communicator</label>
            <select #selectedDcu name="communicator" id="communicator" class="form-control" (change)="updateGridDcu(selectedDcu.value)">
              <option value="">--- Please Select Communicator ---</option>
              <option value="541610063550">541610063550</option>
              <option value="541610063590">541610063590</option>
              <option value="541610063630">541610063630</option>
            </select>
          </div>


        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="grid-container">
          <div class="grid">
            <div id="gridDcu" style="height: 500px; width: auto;"></div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>