<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 pull-right">
                <div class='input-group date'>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input type='date' class="form-control" />
                </div>
            </div>
        </div>     
    </div>
</div>